/* font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

/*Aguardando lugar no projeto*/

body {
  background-color:#000000
}

.button-nav {
  background: #2f00ff;
  background-color: #6959CD ;
  border-radius: 50px; /*ARREDONDAR BORDAS*/
  width: 239px; /*DIMENSÃO DO TEXTO*/
  height: 64px; /*LARGURA*/
  border: none; /*BORDAS*/
  cursor: pointer; /*MODELO DO MAUSE "POITER - MÃOZINHA"*/
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700; /*ESPESSURA DA FONTE*/
  font-size: 88px; /*TAMANHO DAS LETRAS*/
  font-weight: 34px; /*ESPESSURA DA FONTE*/
  color: #ffffff; /*COR*/
  display: inline-block; /*ORGANIZAR ELEMENTOS NA PAGINA*/
  margin: 30px auto 30px 150px; /*POSICIONAMENTO*/
}

nav {
  margin: 20px 1700px 0px;
}

.fundo-processo {
  display: inline-block;
  width: auto;
  height: 925px;
}

h1 {
  border-radius: 30px; /*ARREDONDAR BORDAS*/
  width: 939px; /*DIMENSÃO DO TEXTO*/
  filter: drop-shadow(1px 7px 4px rgba(255, 255, 255, 0.25));
  color: #6959CD;
  font-weight: 700; /*ESPESSURA DA FONTE*/
  font-size: 78px; /*TAMANHO DAS LETRAS*/
  margin: 40px auto 40px; /*POSICIONAMENTO*/
  cursor: pointer; /*MODELO DO MAUSE "POITER - MÃOZINHA"*/
}

h2 { /*INATIVO POR ENQUANTO.*/
  margin: 30px 0px 20px 915px; /*POSICIONAMENTO*/
  font-weight: 700; /*ESPESSURA DA FONTE*/
  font-size: 78px; /*TAMANHO DAS LETRAS*/
  color: #6959CD;
}

h3 {
  width: 1000px; /*DIMENSÃO DO TEXTO*/
  font-weight: 500; /*ESPESSURA DA FONTE*/
  margin: 10px 0px 10px 10px; /*POSICIONAMENTO*/
  font-size: 39px; /*TAMANHO DAS LETRAS*/
  color: #000000; /*COR*/
}

p {
  margin: 10px 0px 20px 15px; /*POSICIONAMENTO*/
  font-weight: 700; /*ESPESSURA DA FONTE*/
  font-size: 78px; /*TAMANHO DAS LETRAS*/
  color: #6959CD;

}

section {
  width: 100%vh; /*AUTURA*/
  height: 100%vw; /*LARGURA*/
  position: relative; /*POSICIONAR O ELEMENTO*/
  background-color: #DCDCDC; /*COR DE FUNDO DE UM ELEMENTO*/
  padding: 20px; /*EXPASSAMENTO INTERNO*/
  text-align: -webkit-center; /*CENTRALIZAR TEXTO E IMG*/
  margin: 20px auto;
}

.div1 {
  margin: 20px auto 36px;
  background-color: blanchedalmond;
  width: 300px;
  height: 300px;
  background-color: #2f00ff;
  color: #2f00ff;
}

input {
  padding: 38;
  margin: 38px 268px;
  border-bottom-width: 1px;
  width: 233px;
  height: 38px;
  border-bottom-color: rgb(var(--ig-stroke));
  border-bottom-style: solid;
  text-align: center;
}
  /*PROJETO EM ANDAMENTO*/

  /*O QUE FAZER AGORA: CONCLUIR POSICIONAMENTO DAS FOTOS - PRIORIDADE
  */
	/*TEM QUE CONCLUIR A CAIXA QUE VAI FICAR MINHA DIV IMPUT
	        */
footer {
  color: #ffffff;
  width: 939px; /*DIMENSÃO DO TEXTO*/
  height: 38px;
  margin: auto;
  font-weight: 200; /*ESPESSURA DA FONTE*/
  font-size: 58px; /*TAMANHO DAS LETRAS*/
}
